[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
certifi = ""
drf-yasg = "*"
django-allauth = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
request = "*"
whitenoise = "*"
django-taggit = "*"
django-taggit-serializer = "*"
drf-friendly-errors = "*"
"psycopg2-binary" = "*"
responses = "*"
django-extra-fields = "*"
chardet = "*"
click = "*"
cookies = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
defusedxml = "*"
dj-database-url = "*"
django-nose = "*"
flex = "*"
future = "*"
get = "*"
idna = "*"
inflection = "*"
itypes = "*"
jsonpointer = "*"
jsonschema = "*"
model-mommy = "*"
nose = "*"
oauthlib = "*"
openapi-codec = "*"
post = "*"
"psycopg2" = "*"
public = "*"
"python3-openid" = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
"rfc3987" = "*"
"ruamel.yaml" = "*"
six = "*"
"strict-rfc3339" = "*"
swagger-spec-validator = "*"
uritemplate = "*"
"urllib3" = "*"
validate-email = "*"
Django = "*"
Pillow = "*"
"Jinja2" = "*"
MarkupSafe = "*"
PyJWT = "*"
PyYAML = "*"
query_string = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.6"
