[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
django-heroku = "*"
certifi = "*"
drf-yasg = "*"
django-allauth = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
request = "*"
whitenoise = "*"
django-taggit = "*"
django-taggit-serializer = "*"
drf-friendly-errors = "*"
Pillow = "*"
"psycopg2-binary" = "*"
responses = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.6"
